* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* box-model*/
    cursor: pointer;
}
  
body {
  font-family: 'Roboto Flex', sans-serif;
  background-image: url('/img/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
}
  
.card-img-top {
  padding: 15px;
  height: 300px;
  width: auto;
}
  
.place__holder__image {
  width: 100%;
}

#one{
  padding: 20px;
  margin: 20px;
}

.navbar{
  background-color: rgb(255, 238, 238);
  width: 100%;
  cursor: pointer; 
}

.navbar li{
  color: red;
  padding: 2px 6px;
  margin: 2px 10px;
}

.navbar li :hover{

  color: rgb(102, 132, 215);
  font-weight: bold;
}

.navbar li :hover :active{

  color: rgb(215, 215, 215);
  font-weight: bold;
}

.Add{
  padding: 0 0px;
  margin: 0 0px;
}

.Add button{
  color: white;
  border: 4px;
  border-radius: 6px;
  text-align: center;
  padding: 8px 12px;
  margin: 4px 12px;
  font-weight: normal;
}

.me-2 {

  padding: 2px 16px;
  margin: 0px 6px;
  border:2px;
  border-radius: 5px;
}


.card{
  padding: 2px 2px;
  margin: 6px 12px;
  min-height: 60px;
  display: flex;
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis; 
  overflow-wrap: break-word;
  hyphens: auto; 
  
  
}

.card img{
  padding: 2px 2px;
  margin: 6px 6px;
  height: 300px;
  width: 100%;
  align-self: center;
}

.card-body{
  padding: 2px 4px;
  margin: 2px 6px;
}

#more {
  display: none;
}